

.SectionLeft {
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 57px;
  float: left;
  position: relative;
  width: 45%;
  height: auto;
 
}

.SectionRigth {
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
  float: left;
  width: 45%;
  border: steelblue solid 1px;
  height: auto;
  background-color:darkslategrey;
}

.ProfilerSection{
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;   
  padding-bottom: 10px;
  width: 97%;
}

.Name{
  font-size: 25px;
  font-weight: 800;
}

p{
  font-family:tahoma;
}

.ImgProfile{
  width: 280px;
  height: 340px;
  border-radius: 20px;

}

.SectionCard{
  width: 18rem;
  margin:0 auto;
}

.titleContacto{
  color:white;
  padding-left: 30px;
}
hr{
  padding-left: 30px;
}

.CardText{
  color:white;
  font-family:tahoma;
  padding-left: 30px;
}