.TitleSection{
  text-align: center;
  
}

.TitleSection__Title--StyleText{
  font-size: 30px;
}

.ProfileSection{
  padding-top: 20px;
}

.ProfileSection__TextProfile--TextStyle{
  text-align: justify;
  margin-right: 30px;
}

.DivSectionLeft{
  padding-top: 15px;
  
}
li{
  text-align: justify;
}

.App__SectionLeft--Separation {
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 57px;
  float: left;
  position: relative;
  width: 45%;
  height: auto;
 
}

.App__SectionRigth--Separation {
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
  float: left;
  width: 45%;
  border: steelblue solid 1px;
  height: auto;
  background-color:darkslategrey;
}

.App{
  font-size: 20px;
  padding-top: 20px;   
  width: 90%;
  margin:0 auto;
}

.Name{
  font-size: 30px;
  font-weight: 800;
}

.ImgProfile{
  width: 280px;
  height: 340px;
  border-radius: 15px;
}

.ImageSection{
  padding-top: 50px;
}

.SectionCard{
  width: 18rem;
  margin:0 auto;
}

.DivSectionRigth{
  color:white;
  padding-left: 30px;
  padding-top: 20px;

}

.FormSection{
  color:white;
  padding-top: 20px;
  margin: 15px;
}

hr{
  padding-left: 30px;
  width: 90%;
  height: 3px;
  background-color: rgb(230, 221, 221);
  border:none
}
